body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.75em;
  color: #290dc5;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */
.highlight {
  background-color: yellow;
  color: black;
}

form div {
  margin: 1em;
  /*display: inline-block;*/
}

div.errorMsg {
    color: red;
    font-size: 10px;
    margin: 5px 10px 0 5px;
}

div.padding {
  padding-left: 30px;
  font-size: 11px;
}


.user-log {
  margin-left: 50px;
  margin-top: 8%;
}

/* .center-btn {
  margin-top: 50px;
  text-align: center;
} */

header {
  display: flex;
  position: fixed;
  margin: 0 4em;
  padding: 10px;
  width: calc(100vw - 8em);
  color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 1em 1em;
  z-index: 2;
}

header .logo {
  flex-grow: 1;
  /* padding-top: 0.25em; */
}
header .logo img {
  width: 15em;
}
header nav {
  display: flex;
}

.nav-item {
  height: 1.5em;
  margin: 1.25em 1.5em 0 0;
}

.nav-item a {
  font-size: 1.3em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px;
}
.nav-item a:hover {
  color: #ffffff;
  border-radius: 5px;
  background-color: rgb(0, 26, 255);
  /* box-shadow: #d3d3d3; */
}

.flex {
  display: flex;
}

@media screen and (max-width: 600px) {
  .flex {
    flex-flow: column wrap;
    align-items: center;
    padding: 0 15px;
  }
}

section {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  overflow: hidden;
}
section h2 {
  text-align: center;
  position: relative;
  margin: 60px 0;
}
section h2:after {
  content: '';
  position: absolute;
  bottom: -20px;
  width: 60px;
  height: 1px;
  background-color: #3412f3;
  left: 50%;
  margin-left: -30px;
}

#carousel {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#carousel #top-text {
  position: absolute;
  top: 35vh;
  color: rgb(0, 0, 0);
  /* text-shadow: 5px 2px #ffffff; */
  z-index: 1;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#carousel .top-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 100%;
}

#filler {
  background-color: #ffffff;
  padding: 0px 20px 23px 20px;
  /* flex-direction: column; */
}

#about,
#speech,
#power {
  background-color: #f1f1f1;
  padding: 0px 15px 10px 20px;
}

#power p,
#filler p,
#about p {
  /* position: absolute;
  color: #fff;
  /*  */
  padding: 0px 90px 0 67px;
  flex: 3;
  line-height: 2.75em;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px #ffffff;
  z-index: 1;
}

#power #aboutimg,
#filler #aboutimg,
#about #aboutimg {
  padding: 0px 37px 60px 15px;
  flex: 2;
  align-self: flex-end;
}
#powerimg {
  padding: 0px 15px 210px 15px;
  flex: 2;
  align-self: flex-end;
}

#power img,
#filler img,
#about img {
  display: block;
  width: 100%;
  height: auto;
}

#features {
  height: 100%;
  color: #252525;
}
#features .wrap {
  display: flex;
  flex-wrap: wrap;
}
#features .feature-profile {
  flex: 0 0 100%;
}
@media (min-width: 600px) {
  #features .feature-profile {
    flex: 0 0 50%;
  }
}
@media (min-width: 960px) {
  #features .feature-profile {
    flex: 0 0 33%;
  }
}

#features .feature-profile:hover {
  color: #fff;
  background-color: #c4e0fa;
}
#features .feature-profile .headshot {
  height: 5em;
  width: 5em;
  margin-left: calc(50% - 2.5em);
  padding-top: 10px;
}
#features .feature-profile .feature-name {
  text-align: center;
  font-size: 1.65em;
}
#features .feature-profile .feature-blurb {
  width: calc(100% - 5em);
  margin-left: 2.5em;
  text-align: center;
  font-style: italic;
  line-height: 1.75em;
}

.icon {
  text-align: center;
}

.icon img {
  width: 5em;
  /* margin-left: 13em; */
  margin-top: 2em;
  margin-bottom: 2em;
}

/* .footer {
  width: 100vw;
  height: 6em;
  background-color: #282cf5;
  color: #fff;
} */

#auth-form {
  padding-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#auth-button {
  width: 250px;
  height: 45px;
  background-color: #3412f3;
  color: white;
  font-size: 15pt;
  border-radius: 10px;
  text-align: center;
}

#forgot-button {
  width: 250px;
  height: 45px;
  background-color: #3412f3;
  color: white;
  font-size: 15pt;
  border-radius: 10px;
  text-align: center;
}

#google-oauth-button {
  width: 250px;
  height: 45px;
  background-color: white;
  color: #3412f3;
  border-color: #3412f3;
  font-size: 15pt;
  border-radius: 10px;
}

.google-oauth {
  display: flex;
  justify-content: center;
}

#nav-trio,
#navbar {
  margin-top: 0px;
  display: flex;
  align-content: center;
  justify-items: center;
}

#demo-title {
  padding-top: 170px;
  text-align: center;
  margin-top: 0;
}

.profile-body {
  padding-top: 100px;
  text-align: center;
  padding-left: 100px;
}

#clapping {
  width: 650px;
  height: 450px;
  margin-right: 25px;
}

#vidRef {
  width: 650px;
  height: 450px;
  margin-right: 25px;
}

#record-page,
#cameraDiv,
#countdownDiv,
#past-recordings-header {
  text-align: center;
}

.powerCamDiv {
  padding-top: 85px;
  text-align: center;
}
#powerresultsContent {
  justify-content: center;
}
.pose {
  display: flex;
  justify-content: center;
}
.webcam {
  width: 700px;
  height: 500px;
  margin-right: 50px;
}
#countdownDiv {
  padding-top: 250px;
}

#recording-container {
  display: flex;
  justify-content: center;
}
.vid-button {
  width: 180px;
  background-color: #3412f3;
  color: white;
  border-color: white;
  font-size: 12pt;
  border-width: 3px;
  height: 60px;
  border-radius: 8px;
  margin: 45px 20px 20px 20px;
}
#button-container {
  display: flexbox;
  flex-direction: row;
  /* justify-items: center; */
}
.referImg {
  display: flexbox;
  flex-direction: column;
  justify-items: center;
}
#results {
  background-color: #01baef;
  color: white;
  width: 250px;
  height: 100px;
  border-color: white;
  font-size: 20pt;
}

#results {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
#results:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#middle {
  background-color: white;
  color: #3412f3;
  border-color: #3412f3;
}
#middle-opposite {
  background-color: #3412f3;
  color: white;
  border-color: white;
}
.profile-buttons {
  width: 180px;
  background-color: white;
  color: #3412f3;
  border-color: #3412f3;
  font-size: 12pt;
  border-width: 3px;
  height: 60px;
  border-radius: 8px;
}
#profile-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
#profile-button-padding {
  margin: 15px;
}
.past-recordings {
  display: flex;
  flex-direction: row;
  width: 500px;
  background-color: #3412f3;
  color: white;
  border-color: white;
  font-size: 12pt;
  border-width: 5px;
  height: 120px;
  border-radius: 15px;
}

#details {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
  font-size: 12pt;
}
#details p {
  margin-top: 8px;
  margin-bottom: 8px;
}
#delete-button {
  color: red;
  background-color: white;
  border-color: white;
  font-size: 25pt;
  margin-right: 10px;
  display: inline;
}

#center {
  display: flex;
}
#flex {
  display: flex;
}

#map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 30px; */
}

#top-margin {
  padding-top: 100px;
}

#videoNoShow {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  display: none !important;
}

#recording-container {
  display: flex;
  justify-content: center;
}

#results-container {
  display: flex;
}

#bigger-results-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 70px;
}

#results-metrics {
  margin-left: 70px;
  color: black;
  font-size: 18pt;
}

.bold {
  color: #3412f3;
}

#no-past-recordings {
  text-align: center;
}

#demo-container {
  text-align: center;
}
#steps h5 {
  margin: 50px;
  font-size: 15pt;
  text-align: center;
}

#get-started-btn {
  background-color: #3412f3;
  color: white;
  width: 250px;
  height: 100px;
  font-size: 18pt;
  border-radius: 10px;
}

#grade {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#grade-text {
  font-size: 12pt;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  margin-left: 25px;
}
#grade p {
  font-size: 40pt;
  margin: 0 60px 5px 30px;
}
#record-button-action {
  width: 50px;
  height: 45px;
  margin: 0;
}
#red-button-container {
  height: 70px;
}
#stop {
  color: #3412f3;
  background-color: white;
  border-color: #3412f3;
}
#small-auth-form {
  /* padding: 50px; */
  width: 550px;
  /* height: 555px; */
  text-align: center;
}
#email-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 0 8px 0;
}

#signup-no-margin {
  margin: 0;
}

#auth-button-center {
  text-align: center;
  margin: 10px 0 0 0;
}

.auth-form-text {
  font-size: 15pt;
  margin: 0 0 5px 0;
  text-align: center;
}

.input-stretch {
  width: 300px;
  height: 30px;
  font-size: 15pt;
  text-align: center;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3412f3;
  color: white;
  font-size: 14px;
  margin-top: 50px;
}

#with-love {
  color: white;
  font-size: 14px;
}

.authors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authors p {
  margin-top: 0%;
}
